extends layout

block content

  header
    .logo
      img(src="/images/there-logo.svg")

    ul#links
      li
        a(href='mailto:join@thevr') Join Our Team
      li
        a(href='#') Get Coffee With Us

  section#intro
    .bg-image
    .text
      .big-logo
        img(src="/images/there-logo.svg")
      .line We're storytellers, thrillmakers and cybersculptors.
      .line.sub Let us take you where you can't go.

  //- section#short
  //-   p Edward, write some text to go here. Make sure it's good. Make sure it accurately reflects what you want people to know about There.
  //- //- section#video
  //- //-   .background-video
  //- //-     video(preload="auto", autoplay="autoplay", loop="loop", muted="muted")
  //- //-       source(src="video/vr.mp4", type="video/mp4")
  //- //-       source(src="video/vr.webm", type="video/webm")
  //- //-   .video-overlay
  //- //-     .line Seeing is believing.

