extends layout

block content

  header
    .logo
      img(src="images/there-logo.svg")

    ul#links
      li
        a(href='mailto:join@therevr.com') Join Our Team
      li
        a(href='mailto:coffee@therevr.com') Get Coffee With Us

  section#intro
    .bg-image
    .text
      .big-logo
        img(src="images/there-logo.svg")
      .line We're storytellers, thrillmakers and cybersculptors.
      .line.sub Let us take you where you can't go.

